*
{
padding: 0;
margin: 0;
}
body
{
        
         background-repeat: no-repeat;
         background-size: cover;
         background-position:center;
}
.menu-bar{
        text-align: left;
        background-color: #3399ff;
    }
    .menu-bar ul{
	   display: inline-block;
	   color:white;
   } 
    .menu-bar ul li{
	     float:left;
    
    margin:15px;
    padding: 10px;
   }
   .menu-bar ul li a{
	   text-decoration:none;
	   color:white;
   }
   .colour{
       background-color: #ffffff;
       color: #3399ff;
       text-align: center;
       padding:25px;
   }